<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/penduduk">Penduduk</a></li>
    <li><a href="/surat-form">Surat</a></li>
    <!-- Add more navigation links as needed -->
  </ul>
</nav>